# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
indent_size = 4
tab_width = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# windoze
[{*.bat,*.cmd}]
end_of_line = crlf

# brainfcuk rules
[*.md]
trim_trailing_whitespace = false

# yaml/json/html/js use 2 spaces
[{*.yaml,*.yml,*.json,*.htm,*.html,*.js,*.xml,*.xls}]
indent_size = 2
tab_width = 2
indent_style = space
